<div class="paymentinfo">
	<strong><%= _.t('PAYMENT METHODS') %></strong>
    <div class="columns">
        <div>
            ­<br><u><%= _.t('By bank transfer') %></u>
            <br><%= _.t('Our bank information') %>
            <br><%= landlord.bankInfo.name %>
            <br><%= _.t('IBAN') %> <%= landlord.bankInfo.iban %>
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
            <br> &nbsp;
        </div>
    </div>
</div>
