<p><%- _.t('Payment modalities:') %></p>
<p class="payment-method">
    <u><%- _.t('By bank transfer') %></u><br />
    <%- _.t('Bank details') %><br />
    <% if (landlord.hasBankInfo) { -%>
        <%- landlord.bankInfo.name %><br />
        <%- _.t('IBAN: {{iban}}', { iban: landlord.bankInfo.iban }) %>
    <%}-%>
</p>
<p>
    <%- _.t('If you have already paid this amount, we thank you and invite you to ignore this message.') %>
</p>